

input{
    width: 90%;
    margin: 10px 5%;
    background-color: rgb(42, 76, 78);
   font-size: 2rem;
    outline: none;
    border-radius: 10px;
    border:none;
    color: white;
    box-shadow: 10px 20px 40px black;

}