

body{
    background-color: aliceblue;
}

.App h1{
    text-align: center;
}


.App .todotexts{
    height: 400px;
  overflow-y: scroll;
    background-color: rgb(71, 133, 129);
    margin: 20px;
   border-radius: 10px;
   box-shadow: 10px 20px 60px black;


}